<!DOCTYPE html>
<html>
<head>
  <title>SchoolApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Schoolz</a>
      <ul id="nav-mobile" class="right">
        <li><%= link_to 'All Schools', schools_path %></li>
      </ul>
    </div>
  </nav>
<%= yield %>

</body>
</html>
